#divChart {
  display: block;
  width: 400px;
  height: 400px;
}

.titulo {
  align-items: baseline;
  height: calc(140% - 50%);
  display: flex;
  font-weight: 500;
  position: absolute;
}

.ticket {
  height: 99%;
}

.texto-ocorrencia {
  font-style: italic;
}

.tabela-ticket {
  width: 95%;
}

table {
  width: 100%;
}

.tabela-funcionarios {
  width: 99%;
  max-height: 500px;
  overflow: auto;
  height: 85%;
  margin-top: 30px;
}

.card-status {
  width: 90%;
  height: 60%;
  margin-top: 25px;
}
