#divChart {
  display: block;
  width: 400px;
  height: 400px;
}

.titulo {
  position: absolute;
  height: 160px;
  font-weight: 500;
}

.ticket {
  height: 99%;
}

.texto-ocorrencia {
  font-style: italic;
}

.tabela-ticket {
  width: 95%;
}

table {
  width: 100%;
}
